.devenv*
devenv.local.nix
devenv.local.yaml

.direnv
.venv

.pre-commit-config.yaml

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.pnp.*

dist
coverage
*.tsbuildinfo
.preview
.react-router
examples/react-router/build
.svelte-kit
.next
next-env.d.ts
